body{
    background-color: #273546;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas{
    border: 2px solid white;
    transform: translateX(50%);
    margin-top: 150px;
}